<app-home></app-home>

<h3 class="my-3">Create a new reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Check-In Date:</label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <small class="text-danger"
                *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                <span>Check-In date is required.</span>
            </small>
        </div>
        <div class="col">
            <label class="form-label">Check-Out Date:</label>
            <input class="form-control" type="date" formControlName="checkOutDate">
            <small class="text-danger"
                *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                <span>Check-Out date is required.</span>
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Guest Name:</label>
            <input class="form-control" type="text" formControlName="guestName">
            <small class="text-danger"
                *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                <span>Guest name is required.</span>
            </small>
        </div>
        <div class="col">
            <label class="form-label">Email:</label>
            <input class="form-control" type="email" formControlName="guestEmail">
            <small class="text-danger"
                *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                <span>Guest email is required.</span>
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label class="form-label">Room Number:</label>
            <input class="form-control" type="number" formControlName="roomNumber">
            <small class="text-danger"
                *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                <span>Room number is required.</span>
            </small>
        </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>